<!DOCTYPE html>
<html>
  <head>
    <title>Application Submitted</title>
    {% include "bootstrap.html" %}
  </head>
  <body>
    {% include "nav.html" %}
    {% include "banner.html" %}
    <div class="container">
      <h1 class="text-center mt-2 mb-4">
        Jovian Career
      </h1>
      <p>
        Your application for the role of a <b>{{job.title}}</b> has been submitted. Please be patient, we will contact you soon.
      </p>
      <b>Full Name</b>
      <div class="mb-2">{{application["full_name"]}}</div>
      <b>Email</b>
      <div class="mb-2">{{application["email"]}}</div>
      <b>Linkedin-url</b>
      <div class="mb-2">{{application["linkedin_url"]}}</div>
      <b>Education</b>
      <div class="mb-2">
        {% for line in application["education"].split("\n") %}
          {{line}}<br>        
        {% endfor %}
      </div>
      <b>Work Experience</b>
      <div class="mb-2">
        {% for line in application["work_experience"].split("\n") %}
          {{line}}<br>        
        {% endfor %}
      </div>
      <b>Resume URL</b>
      <div class="mb-2">{{application["resume_url"]}}</div>
    </div>
    {% include "footer.html" %}
  </body>
</html>