<style>
  .input {
    width: 90%
  }
</style>

<h4>Application Form</h4>
<form action="/job/{{job.id}}/apply" method="post">
  <div class="mb-2 input">
    <label>Full Name</label><br>
    <input type="text" required name="full_name" placeholder="Bruce Wayne">
  </div>
  <div class="mb-2 input">
    <label>Email</label><br>
    <input type="email" required name="email" placeholder="bruce@wayne.com">
  </div>
  <div class="mb-2">
    <label>LinkedIn</label><br>
    <input type="url" name="linkedin_url" placeholder="https://linkedin.com/in/brucewayne">
  </div>
  <div class="mb-2">
    <label>Education</label><br>
    <textarea name="education"></textarea>
  </div>
  <div class="mb-2">
    <label>Work Experience</label><br>
    <textarea name="work_experience"></textarea>
  </div>
  <div class="mb-2">
    <label>Resume URL</label><br>
    <input type="url" name="resume_url" placeholder="www.your resume.url"></input>
  </div>
  !!!{{ hcaptcha }}!!!
  <input class="btn btn-primary btn-large" type="submit">
</form>