<div class="border-bottom" style="margin-bottom:16px;padding-bottom:8px;">
  <div class="row">
    <div class="col-11">
      <h4 style="color:rgb(120,120,120); margin-bottom:4px">{{job["title"]}}
      </h4>
      <div><b>Location</b> {{job["location"]}}</div>
      {% if "salery" in job %}
        <div><b>Salery</b> {{job["salery"]}}
        </div>
      {% endif %}
    </div>
    <div class="col-1">
    <a href="mailto:tvstetten@tvs-soft.de?subject=Application%20for%20{{job['title']}} (#{{job['id']}})&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20Resume%20link%3A%20%3Cresume%20link%3E%0D%0A%0D%0AMy%20LinkedIn%20link%20%3Clinkedin%20link%3E" class="btn btn-outline-primary btn-large">Apply</a>
    </div>
  </div>
</div>
